# UE Generated folders (global patterns)
**/Binaries/
**/Build/
**/Intermediate/
**/Saved/
**/DerivedDataCache/
**/Plugins/**/Binaries/
**/Plugins/**/Intermediate/

# Built map data
**/*_BuiltData.uasset

# Visual Studio / Rider
.vs/
.idea/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vsconfig

# Xcode
*.xcodeproj
*.xcworkspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log
*.dmp
